@import "./variables/colors";
@import "./variables/fonts";
@import "./variables/mixins";

section {
    height: 100vh;
    overflow: hidden;
    font-family: $font-roboto;
}

.slide {
    @include flex-center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.slides {
    img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .places {
        position: absolute;
        font-size: 5rem;
        color: $main-color;
        left: 10%;
        top: 30%;
        font-weight: 900;
        text-shadow: 10px 0px 30px $header-color;
    }

    .status {
        position: absolute;
        top: 48%;
        left: 10%;
        color: $main-color;
        font-size: 2rem;
    }

    .bottom {
        position: absolute;
        bottom: 2%;
        left: 2%;
        color: $main-color;
    }
}

.back {
    position: absolute;
    left: 2%;
    top: 45%;
    color: $main-color;
    cursor: pointer;
}

.forward {
    position: absolute;
    right: 2%;
    top: 45%;
    color: $main-color;
    cursor: pointer;
}

.buttons{
    position: absolute;
    bottom: 30%;
    left: 10%;

    button{
        padding: 10px 30px;
        border: 3px solid $main-color;
        background: transparent;
        color: $main-color;
        text-transform: uppercase;
        margin: 0 2rem;
    }
}